<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
          <div class="card-header">
              {{ data.title | uppercase }}
          </div>
          <div class="card-block">
            <ul class="list">
              <li>Published At: {{ data.publishedAt | date: 'dd.MM.yyyy' }}</li>
              <li>Price: {{ data.price | currency:'EU' }}</li>
              <li>Rating: {{ data.rating }}</li>
              <li>ISBN: {{ data.isbn | isbn:3:'-' }}</li>
            </ul>
          </div>
          <!-- <div class="card-img">
            <img
              src="assets/img/book-covers/dummy.png"
              [attr.alt]="data.title">
          </div> -->
          <div class="card-block">
            <div class="card-title">
              {{ data.subtitle }}
            </div>
            <div class="card-text">
              {{ data.authors }}
            </div>
          </div>
          <div class="card-footer">
            <button (tr-click-once)="voteUp()" class="btn btn-sm">+</button>
            <button (tr-click-once)="voteDown()" class="btn btn-sm">-</button>
            <button (click)="emitRemove()" class="btn btn-sm">x</button>
          </div>
      </div>
  </div>
</div>
