<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
          <div class="card-header">
              {{ data.title }}
          </div>
          <div class="card-block">
            <ul class="list">
              <li>Price: {{ data.price }}</li>
              <li>Rating: {{ data.rating }}</li>
              <li>ISBN: {{ data.isbn }}</li>
            </ul>
          </div>
          <div class="card-block">
              <div class="card-title">
                  {{ data.subtitle }}
              </div>
              <div class="card-text">
                  {{ data.authors }}
              </div>
          </div>
          <div class="card-footer">
            <button (click)="voteUp()" class="btn btn-sm">+</button>
            <button (click)="voteDown()" class="btn btn-sm">-</button>
          </div>
      </div>
  </div>
</div>
