<a routerLink="/" class="btn btn-link">Back to List</a>
<form [formGroup]="editForm">
  <section class="form-block">
      <label>Edit a book</label>
      <div class="form-group">
          <label for="book-isbn">ISBN</label>
          <input formControlName="isbn" type="text" id="book-isbn" size="45">
      </div>
      <div class="form-group">
          <label for="book-title">Title</label>
          <input formControlName="title" type="text" id="book-title" placeholder="Enter value here" size="45">
          <!-- Show Validation Message after the user has used it -->
          <div *ngIf="editForm.controls['title'].errors &&
                      editForm.controls['title'].dirty">
            Der Titel muss mindestens 5 Zeichen enthalten

            <div *ngIf="editForm.controls['title'].errors.required">
              Bitte geben Sie den Titel des Buchs ein.
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="book-subtitle">Subtitle</label>
          <input formControlName="subtitle" type="text" id="book-subtitle" placeholder="Enter another value here" size="35">
      </div>
      <div class="form-group">
          <label for="book-description">Description</label>
          <textarea formControlName="description" id="book-description" rows="5"></textarea>
      </div>

      <div formArrayName="authors">
        <!-- generate for each author in the array-->
        <div
          *ngFor="let author of authors.controls; index as i;"
          class="form-group">
          <label for="">Autor</label>
          <input [formControlName]="i" type="text">
          <!-- Add validation message -->
          <button
          (click)="removeAuthor(i)"
          class="btn btn-default">-</button>
        </div>
      </div>
      <button
        (click)="addAuthor()"
        class="btn btn-default">+</button>
      <button
        [disabled]="editForm.invalid"
        (click)="updateBook(editForm.value)"
        type="submit"
        class="btn btn-primary">
        Update Book
      </button>
  </section>
</form>
